<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Аукцион окончен</h1>
<p>
  <%= link_to 'Аукцион', show_opportunity_url(@auction.id)%> окончен, и доступны результаты.<br>
</p>
<table>
  <thead>
  <th>
    Описание
  </th>

  <th>
    Цена
  </th>

  <th>
    Контакты участника
  </th>

  </thead>
  <tbody>
  <% bids = @auction.bids.active.includes(:user)%>
  <% bids = bids.limit(3) if @auction.owner_id.nil?%>
  <% bids.each do |bid| %>
      <tr>
        <td>
          <%= bid.description %>
        </td>
        <td>
          <%= bid.price%>
        </td>
        <td>
          <%= bid.user.email %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<p>
  С уважением
  Команда ifasapp
</p>
</body>
</html>