<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Отзыв от пользователя сайта</h1>
<p>
  <%= @feedback.feedback_text %>
</p>

<p>
  Адрес пользователя: <%= @feedback.email %>
</p>

<p>
  Админка сайта содержит больше информации о пользователе и отзыве.
</p>

<%= render partial: 'shared/mail_footer' %>
</body>
</html>