<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Новый аукцион в категории <%= @opportunity_category %></h1>
<p>
  Вы можете участвовать в <%= link_to 'этом аукционе', show_opportunity_url(@opportunity_id)%> и сдать в аренду свою технику.<br>
</p>
<p>
  Вы можете отписаться от рассылки <%= link_to 'тут', edit_profile_path %>.
</p>
<p>
  С уважением
  Команда ifasapp
</p>
</body>
</html>