- if current_user.present?
  - if current_page?(user_info_edit_path)
    - css_class = 'active'
  - else
    - css_class = 'inactive'

  %li{:class => css_class}= link_to 'Профиль', user_info_edit_path