- if current_user.present?
  - if current_user.user_info_id.present? && current_page?(edit_user_info_path(current_user.user_info_id))
    - css_class = 'active'
  - else
    - css_class = 'inactive'

  %li{:class => css_class}= link_to 'Профиль', edit_user_info_path(current_user.user_info_id || 0)