%li.dropdown
  %a{href: "#", class: "dropdown-toggle", 'data-toggle'=>"dropdown", role: "button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
    Аукционы
    %span.caret
  %ul.dropdown-menu
    %li
      %a{href: new_auction_path}
        Создать новый
    %li
      %a{href: opportunities_path}
        Сделать ставку
    %li
      %a{href: auctions_path}
        Созданные