%li.dropdown
  %a{href: "#", class: "dropdown-toggle", 'data-toggle'=>"dropdown", role: "button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
    Аукционы
    %span.caret
  %ul.dropdown-menu
    %li
      %a{href: '#'}
        Арендовать технику
    %li
      %a{href: opportunities_path}
        Сдать технику в аренду
    %li
      %a{href: auctions_path}
        Созданные аукционы