%li.dropdown
  %a{href: "#", class: "dropdown-toggle", 'data-toggle'=>"dropdown", role: "button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
    Аукционы
    %span.caret
  %ul.dropdown-menu
    %li
      %a{href: auctions_path}
        Мои аукционы
    %li
      %a{href:  "/arenda/buldozer"}
        Арендовать технику
