%h3
  Создать аукцион для аренды техники.
%br
- if current_user.present?
  %p Аукцион будет доступен для владельцев техники выбранного вида.
  %p Вы сможете видеть предложения в реальном времени.
-else
  %h2 Вы не зарегестрированы.
  %p Регистрация даст Вам доступ к таким возможностям, как:
  %ul
    %li Отслеживание количества предложений на каждую подкатегорию в реальном времени.
    %li Детальная статистика по окончании аукциона.
    %li Просмотр всех ставок, а не только трёх лучших.
    %li Детальная информация об участниках аукциона и их контактные данные.
  %a{href: new_user_registration_path, class: "btn btn-info", role: "button"}
    Регистрация

%br
= render partial: 'auctions/form'
= render partial: 'auctions/article'