.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %th
          Описание
        %th
          Категория
        %th
          Время окончания
        %th
        %th
      %tbody
        -@auctions.each do |auction|
          %tr
            %td
              = auction.description.truncate(100, omission: '...')
            %td
              = auction.mechanism_category.description
            %td
              = auction.end_time.strftime("%d/%m/%Y %R")
            %td
              %a.btn.btn-default.btn-custom{href: auction_path(auction.id),role: "button"}
                Детали
    %a.btn.btn-default.btn-custom{href: new_auction_path,role: "button"}
      Создать новый