%h3
 Создать аукцион для аренды техники.
%br
%p Аукцион будет доступен для владельцев техники выбранного вида.
%p Вы сможете видеть предложения в реальном времени.
%br
= render partial: 'auctions/form'
= render partial: 'auctions/article'