.container
  .row
    .col-sm-3.footer-contents
      'АРТЕЛЬ' &#169;
      = Time.now.year
    .col-sm-9.footer-right-text.footer-contents
      = link_to("Контакты    ", '')
      = link_to("О Нас", '')