.categories-tree-holder
  .well.darker-bg-wrapper.tree-well
    %h3.category-tree-header
      Аренда:
    %ul.nav.nav-list.categories-list-ul.custom_scroll
      - @categories.each do |mech_category, mech_subcategories|
        %li.category-option
          = link_to(mech_category.home_description, new_auction_path(mech_category: mech_category.id), class: 'categories-tree-link nav-header label-long')
