.first-wallpaper
  .row.first-info-block{style: 'margin: 0px;'}
    .col-sm-5
      = render 'home/categories_tree', collection: @categories
    .col-sm-7
      %h2.h3-app-welcome
        Добро пожаловать в
      %h3.h2-app-welcome
        "Артель"
      %h3.h2-app-welcome
        Аренда Техники Легко
      %p.p-app-welcome
        Портал, созданный для проведения аукционов по аренде строительной техники.
.row.info-block-entry
  .col-sm-12.align-text-center-block
    %h1 Арендовать технику легко!
.row.info-block-info
  .col-sm-4.align-text-center-block
    %i.icofont.icofont-car-alt-4
    %h3
      Создайте аукцион, выбрав нужную категорию техники. Опишите характер и объём работы.
  .col-sm-4.align-text-center-block
    %i.icofont.icofont-clock-time
    %h3
      Опубликуйте аукцион. Участники предложат свою цену и условия.
  .col-sm-4.align-text-center-block
    %i.icofont.icofont-file-spreadsheet
    %h3
      Получите подробную статистику и результаты аукциона с указанием лучших ставок.
#third-info-block
  .row
    .col-sm-12.align-text-center-block
      .third-info-block-shader
        .padding-setter
          %h1.third-block-info-label-white.third-block-info-label-red
            "АРТЕЛЬ"
        .padding-setter
          %h1.third-block-info-label-white
            поможет найти арендаторов
        .padding-setter
          %h1.third-block-info-label-white
            для Вашей техники.
.row.info-block-entry
  .col-sm-12.align-text-center-block
    %h1 Сдать технику в аренду легко!
.row.info-block-info
  .col-sm-4.align-text-center-block
    %i.icofont.icofont-articulated-truck
    %h3
      Опишите Вашу технику в специальном разделе, указав правильные категории и подкатегории.
  .col-sm-4.align-text-center-block
    %i.icofont.icofont-fast-delivery
    %h3
      Получайте уведомления о новых аукционах, в которых Вы можете участвовать.
  .col-sm-4.align-text-center-block
    %i.icofont.icofont-bill-alt
    %h3
      Делайте ставки и ожидайте ответа организатора аукциона.