.first-wallpaper
  .row.slogan-container-one
    .col-sm-5
      %h3.large-black-text
        Аренда
      %h3.large-black-text
        Техники
      %h3.large-orange-text
        Легко
      .row
        .col-sm-12.button-one-holder
          %button{type: 'button', class: 'btn orange-button', 'data-toggle' => 'modal', 'data-target' => "#categoriesTree", style: 'padding-top: 12px;'}
            Начать аукцион!
    .col-sm-7
.row.info-block-entry
  .col-sm-12.text-center
    %h1 Арендовать технику легко!
.row.info-block-info
  .col-sm-4.text-center.info-columns-margin
    %i.icofont.icofont-excavator
    %h3
      Создайте аукцион, выбрав нужную категорию техники. Опишите характер и объём работы.
  .col-sm-4.text-center.info-columns-margin
    %i.icofont.icofont-clock-time
    %h3
      Опубликуйте аукцион. Участники предложат свою цену и условия.
  .col-sm-4.text-center.info-columns-margin
    %i.icofont.icofont-file-spreadsheet
    %h3
      Получите подробную статистику и результаты аукциона с указанием лучших ставок.
#third-info-block
  .row.slogan-container-two
    .col-sm-6
    .col-sm-6
      %h3.medium-black-text{style: 'text-align: right;'}
        арендаторы
      %h3.medium-black-text{style: 'text-align: right;'}
        для <span class='orange-text'>Вашей</span>
      %h3.medium-black-text{style: 'text-align: right;'}
        техники <span class='orange-text'>Легко</span>
      .button-two-holder{style: 'text-align: center;'}
        - if current_user.present?
          = link_to('Добавить технику!',  new_mechanism_path , class: 'btn orange-button', role: 'button'  )
        -else
          = link_to('Войти!',  new_user_session_path , class: 'btn orange-button', role: 'button'  )

.row.info-block-entry
  .col-sm-12.text-center
    %h1 Сдать технику в аренду легко!
.row.info-block-info
  .col-sm-4.text-center.info-columns-margin
    %i.icofont.icofont-articulated-truck
    %h3
      Опишите Вашу технику в специальном разделе, указав правильные категории и подкатегории.
  .col-sm-4.text-center.info-columns-margin
    %i.icofont.icofont-email
    %h3
      Получайте уведомления о новых аукционах, в которых Вы можете участвовать.
  .col-sm-4.text-center.info-columns-margin
    %i.icofont.icofont-bill-alt
    %h3
      Делайте ставки и ожидайте ответа организатора аукциона.

/ categories tree
#categoriesTree.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Категория аукциона
      .modal-body
        = render 'home/categories_tree'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Закрыть
