%div
  %form{name: "userinfoForm", 'ng-controller' => "UserInfoController"}
    .control-group
      %label.col-sm-2
        Организация
      %input{'ng-model'=>"organization_id", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Время начала аукциона
      %input{'ng-model'=>"start_time", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Описание
      %input{'ng-model'=>"description", type: "text", 'ng-pattern'=>"/\w/"}
    %input{type:"submit", 'ng-click'=>"create()", value: "Сохранить"}