%div
  %form{name: "userinfoForm", 'ng-controller' => "UserInfoController"}
    .control-group
      %label.col-sm-2
        Лот
      %input{'ng-model'=>"auction_mechanism_id", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Ставка
      %input{'ng-model'=>"Price", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Коментарий
      %input{'ng-model'=>"description", type: "text", 'ng-pattern'=>"/\w/"}
    %input{type:"submit", 'ng-click'=>"create()", value: "Сохранить"}
