%div
  %form{name: "userinfoForm", 'ng-controller' => "UserInfoController"}
    .control-group
      %label.col-sm-2
        Категория
      %input{'ng-model'=>"category", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Подкатегория
      %input{'ng-model'=>"subcategory", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Краткое описание
      %input{'ng-model'=>"description", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Полное описание
      %input{'ng-model'=>"long_description", type: "text", 'ng-pattern'=>"/\w/"}
    %input{type:"submit", 'ng-click'=>"create()", value: "Сохранить"}
