%div
  %form{name: "userinfoForm", 'ng-controller' => "UserInfoController"}
    .control-group
      %label.col-sm-2
        Имя
      %input{'ng-model'=>"first_name", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Фамилия
      %input{'ng-model'=>"last_name", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Номер телефона
      %input{'ng-model'=>"phone_number", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        Город
      %input{'ng-model'=>"city_id", type: "text", 'ng-pattern'=>"/\w/"}
    .control-group
      %label.col-sm-2
        УНП
      %input{'ng-model'=>"unp", type: "text", 'ng-pattern'=>"/\w/"}
    %input{type:"submit", 'ng-click'=>"create()", value: "Сохранить"}
