$main-color: #ff1744;
$dark-bg-color: #252830;
$darker-bg-color: #1e2127;
$white-color: #fff;

.body-style {
  background-image: url('generic-background.jpg');
  color: $white-color;
}

.dark-bg-wrapper {
  background-color: $dark-bg-color;
}

.darker-bg-wrapper{
  background-color: $darker-bg-color;
}

.main-bg-color-wrapper {
  background-color: $main-color;
}

.no-side-padding{
  padding-left: 0;
  padding-right: 0;
}

.first-wallpaper {
  z-index: 1;
  width: 100%;
  min-height: 540px;
  background: rgba(0, 0, 0, 0) url('wallpaper1.jpg') repeat scroll 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.h2-app-welcome{
  text-align: right;
  color: $main-color;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.h3-app-welcome{
  text-align: right;
  margin-top: 140px;
  color: $white-color;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.p-app-welcome{
  text-align: right;
  color: $white-color;
  font-style: italic;
}

.first-info-block{
  background: rgba(64,57,57,0.40);
  overflow: hidden;
  z-index: 2;
}

.align-text-center-block{
  text-align: center;
}

#second-info-block-entry{
  margin-top: 20px;
}

#second-info-block-info{
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* Categories tree */

.categories-tree-holder{
  z-index: 3;
  margin-top: 15px;
  color: $white-color;
  max-height: 790px;
}

.categories-list-ul{
  overflow-y:auto;
  max-height: 790px;
}

.well .darker-bg-wrapper{
  max-height: 790px;
}

.categories-tree-link  {
  color: $white-color;
}

.category-tree-header{
  margin-top: 0px;
  margin-bottom: 20px;
}

.category-option:hover {
    background-color: $main-color;
}

.categories-tree-link:hover {
    background-color: $main-color;
}

.subcategory-option{
  background-color: $darker-bg-color;
}

/* Menu */

.navbar{
  background: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);

  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a{
  color: $white-color;
}

#collapse-menu-ifasapp{
  background: $dark-bg-color;
  border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav > li > a:hover{
  color: $main-color;
}

.navbar-default .navbar-nav > li .active > a{
  background: $main-color;
}

.custom-menu{
  margin-bottom: 0;
  max-width: 100%;
  border: none;
}

/* Icons */

#second-info-block-info .col-sm-4 i {
  color: $main-color;
  font-size: 80px;
  display: block;
}
