$main-color: #ff5523;
$background-color: white;
$font-color: black;

.white-bg-wrapper {
  background-color: $background-color;
}

.darker-bg-wrapper{
  background-color: $background-color;
}

.tree-well{
  max-height: 700px;
}

.main-bg-color-wrapper {
  background-color: $background-color;
}

.no-side-padding{
  padding-left: 0;
  padding-right: 0;
}

.btn-custom{
  color: $main-color;
  background: $background-color;
  border-radius: 0px;
  border: 0px;
}

.btn-custom:hover{
  background: $main-color;
  color: $background-color;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: $background-color;
}

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
  background-color: $background-color;
}

.custom-span-auction{
  margin-top: -5px;
}

#main_page_url{
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* Menu */

.navbar{
  background: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);

  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a{
  color: $main-color;
  font-weight: 600;
}

#collapse-menu-ifasapp{
  background: $background-color;
  border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav > li > a:hover{
  color: $background-color;
  background: $main-color;
}

.custom-menu{
  margin-bottom: 0;
  max-width: 100%;
  border: none;
}

/* Timer css */

.timer, .timer-done, .timer-loop {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding: 10px;
}

// These are the default CSS classes
// used by this plugin. Use these values
// for a basic style to get started.
.jst-hours {
  float: left;
}
.jst-minutes {
  float: left;
}
.jst-seconds {
  float: left;
}
.jst-clearDiv {
  clear: both;
}
.jst-timeout {
  color: red;
}

/* Articles css */

.articles-modal-trigger{
  min-height: 250px;
}