.row
  .col-xs-9.col-md-10
  .col-xs-3.col-md-2
    %a.btn.btn-default{href: new_mechanism_path,role: "button"}
      Создать
.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %th
          Описание
        %th
          Категория
        %th
        %th
      %tbody
        -@mechanisms.each do |mech|
          %tr
            %td
              = mech.description
            %td
              = mech.mechanism_subcategory.description
            %td
              %a.btn.btn-default{href: edit_mechanism_path(mech.id),role: "button"}
                Редактировать
            %td
              %a.btn.btn-default{href: mechanism_path(mech.id),role: "button"}
                Детали
