%dl.dl-horizontal
  %dt
    Описание
  %dd
    = @mechanism.description
  %dt
    Детали
  %dd
    = @mechanism.long_description
  %dt
    Категория
  %dd
    = @mechanism.mechanism_subcategory.description
  %dt
    Группа
  %dd
    = @mechanism.mechanism_category.description
  %dt
    Участвовал в аукционах
  %dd
    Счётчик и ссылка
  %dt
    Победил в аукционах
  %dd
    Счётчик и ссылка
  %dt
    Сумма заказов
  %dd
    Статы по заказам
